body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.calculator {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
}

.calculator-keys button {
    height: 60px;
    width: 25%;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1.2em;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator-keys button:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: #ff9f0a;
    color: white;
}

.operator:hover {
    background-color: #ffb347;
}

.equal-sign {
    height: 100%;
    grid-area: equal-sign;
}